-r src/backend/requirements.txt
ruff
mypy
types-requests
pre-commit
pip-tools
pip-compile-cross-platform
langchain-core==1.2.7
langchain-openai==1.1.7
playwright
pytest
pytest-asyncio
pytest-cov
pytest-playwright
pytest-snapshot
locust
psycopg2
dotenv-azd
